.back {
  height: 100%;
}

.d-flex {
  background-image: url("./../../assets/images/mainback.jpg");
}

.panel-body {
  width: 80%;
  -webkit-box-shadow: -2px 12px 5px 9px #ccc;
  -moz-box-shadow: -2px 12px 5px 9px #ccc;
  box-shadow: -2px 1px 5px 9px #ccc;
  display: block;
  margin-top: 10%;
  margin-bottom: 15%;
  background-color: #ccc;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  background-color: #d7b17e;
}

.table thead tr th {
  background-color: #98BF64;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #4C9A2A;
  border-color: #98BF64;
}

.bottom10 {
  margin-bottom: 10px;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
  background-color: #4C9A2A;
  border-color: #98BF64;
}


.new-book{
  position:absolute;
  top:0;
  right:0;
}

.sort-and-add {
  position: relative;
}

.search {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.search input {
  width: 90%;
  margin-right: 4px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.search button {
  float: right;
  margin-right: 20px;
}